.contacte {
    background-image: url("../../files/img/fondos/fons-quisom.jpg");
    background-size: cover;
    display: inline-block;
    width: 100%;
}

.contacte h1 {
    text-align: center;
}

.contacte h4 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 40px;
    line-height: 0.8cm;
}

.contacte-capses {
    width: 70%;
    height: auto;
    display: flex;
    margin: auto;
}

.contacte-dades {
    width: 40%;
    display: inline-block;
    align-items: center;
}

.contacte-dades p {
    line-height: 0.8cm;
}

.contacte-dades a {
    font-weight: 500;
}

.contacte-capses a {
    color: white;
}

.contacte-formulari {
    width: 60%;
}

legend {
    font-weight: bold;
    font-size: 18px;
}

input {
    border: 2px;
    background-color:rgb(255, 255, 255, 0.5);
    margin-bottom: 20px;
    width: 250px;
    height: 25px;
}

textarea {
    width: 400px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:rgb(255, 255, 255, 0.5);
}

button {
    font-weight: bold;
    color: #ffffff;
    border: #ffffff;
    background-color: #003694;
    padding: 10px 10px;
    cursor: pointer;
    font-family: Inter;
    font-size: 15px;
}

button:hover {
    font-weight: bold;
    color: #003694;
    border: #003694;
    background-color: #ffffff;
    padding: 10px 10px;
    cursor: pointer;
}