.index-video {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.index-text {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(263, 100%, 0%, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-text h1 {
    font-size: 125px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.index-text h2 {
    font-size: 30px;
    margin-bottom: 0px;
}

.index-text button {
    font-weight: bold;
    color: #ffffff;
    border: #ffffff;
    background-color: #003694;
    padding: 15px 32px;
    cursor: pointer;
    font-family: Inter;
    font-size: 15px;
    margin-right: 20px;
}

.index-text button:hover {
    font-weight: bold;
    color: #003694;
    border: #003694;
    background-color: #ffffff;
    padding: 15px 32px;
    cursor: pointer;
}

.valors {
    text-align: center;
}

.valors-header {
    padding: 10px;
    background-color: #003694;
}

.valors-numeros {
    display: flex;
    justify-content: space-between;
}

.valors-capses {
    width: 34%;
    height: 300px;
    background-color: #003694;
    color: white;
}

.valors-capses p {
    text-align: justify;
    margin: 30px;
}

numerosgrossos {
    font-size: 60px;
    font-weight: bold;
    -moz-font-feature-settings: "ccmp";
    -webkit-font-feature-settings: "ccmp";
    font-feature-settings: "ccmp";
}

.entitats {
    background-color: #002564;
    display: grid;
    text-align: center;
    align-items: center;
    place-items: center;
    padding: 10px;
}

.entitats h4 {
    font-size: 16px;
    font-weight: normal;
    margin-top: -5px;
    margin-bottom: 80px;
}

.entitats p {
    font-weight: bold;
}

.entitats-contenidor {
    width: 90%;
    height: auto;
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
}

.entitats-entitat {
    width: 25%;
    height: 300px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -60px;
}

.entitats-entitat img{
    width: 100%;
    height: 40%;
    object-fit: contain;
}

.entitats-entitat p {
    text-align: center;
    margin-bottom: 5px;
}

.entitats-entitat a {
    color: white;
}