.index-video {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.index-text {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(263, 100%, 0%, 0.5);
}

.index-text button {
    font-weight: bold;
    color: #ffffff;
    border: #ffffff;
    background-color: #003694;
    padding: 15px 32px;
    cursor: pointer;
    
}

.index-text button:hover {
    font-weight: bold;
    color: #003694;
    border: #003694;
    background-color: #ffffff;
    padding: 15px 32px;
    cursor: pointer;
}

.valors {
    text-align: center;
}

.valors-header {
    padding: 10px;
    background-color: #003694;
}

.valors-numeros {
    display: flex;
    justify-content: space-between;
}

.valors-capses {
    width: 34%;
    height: 300px;
    background-color: #003694;
    color: white;
}

.valors-capses p {
    text-align: justify;
    margin: 30px;
}

numerosgrossos {
    font-size: 60px;
    font-weight: bold;
    -moz-font-feature-settings: "ccmp";
    -webkit-font-feature-settings: "ccmp";
    font-feature-settings: "ccmp";
}